<table class="table">
	<thead>
		<tr>
			<th>Track Num</th>
			<th>Title</th>
			<th>Artist</th>
		</tr>
	</thead>
	<tbody>
		<% @plays.each do |play|%>
		<tr>
			<td>
				<%= play["rank"] %>
			</td>
			<td>
				<%= play["title"] %>
			</td>
			<td>
				<%= play["artist"] %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= button_to "Add Songs", plays_path, :method=> "post" %>

<% @plays.each do |play|%>
	<div>
  <%= hidden_field_tag('seen[]', play[:id]) -%>
  <%= check_box_tag 'activated[]', play[:id] -%>
      <%= play["title"] %>
    <%= " / " %>
    <%= play["artist"] %>
</div>
<% end %>